h1
{
    color:red;
    text-align: center;
}

/* p
{
    color: blue;
    font-style: italic;
} */

img#img1
{
    border: 2px solid green;
    width: 400px;
    border-radius: 500px;
}

img#img2
{
    border: 2px solid red;
    width: 400px;
    border-radius: 30%;
}

img#img3
{
    width: 400px;
    border: 2px solid blue;
    border-radius: 50%;
}